@tailwind base;
@tailwind components;
@tailwind utilities;

.overlayDiv {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(5, 5, 5, 0.084); /* Semi-transparent background */
  display: flex;
  align-items: center;
  justify-content: center;
}